@model IEnumerable<BookStore.Models.BookModel>


    <div class = "row">
    <div class = "col-6">
        <h1>Display Books</h1>
    </div>
    <div class = "col-6">
       <a class = "btn btn-primary" asp-controller = "Book" asp-action = "AddBook">Add Book</a>
    </div>
</div>
        
        
    <table class="table">
  <thead>
    <tr>
        <th scope="col">@Html.DisplayNameFor(model => model.Id)</th>
      <th scope="col">@Html.DisplayNameFor(model => model.Title)</th>
      <th scope="col">@Html.DisplayNameFor(model => model.Author)</th>
      <th scope="col">Update</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
        @foreach (var x in Model)
      {
            <tr>
      <td>@x.Id</td>
      <td>@x.Title</td>
      <td>@x.Author</td>
    <td><a asp-controller = "Book" asp-action = "EditBook" asp-route-id = "@x.Id" class = "btn btn-primary">Edit</a></td>
    <td><a asp-controller = "Book" asp-action = "Delete" asp-route-id = "@x.Id" class = "btn btn-danger">Delete</a></td>
</tr>

      }
      </tbody>
</table>
    
    

